# dependencies
node_modules

# env files
.env
.env.local
.env.*.local

# build outputs
dist
build

# pnpm
.pnpm-store

# OS
.DS_Store
Thumbs.db

# editores/IDE
.vscode/
.idea/
*.swp

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# cobertura de testes
coverage/

# pasta pessoal do desenvolvedor
dev/
